*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}



#card{
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    padding: 20%;
}

h1{
    text-align: center;
    margin-top: 20px;
    font-size: 1vw;
    margin-bottom: 2vw;
}
button{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: rgb(5, 5, 5);
    border: none;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}   