*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    width: 100vw;
    height: 100vh;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: right;
}

button{
    background-color: #3503da;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#card{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}